body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: OpenSans-Bold;
  outline: none;
  box-sizing: border-box;
}

h1 {
  font-size: 8.75vmax;
  line-height: 9.6vmax;
  text-transform: uppercase;
  color: #e7e7e7e7;
}

h3 {
  font-size: 19pt;
  color: #c1c1c1;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  color: #000;
  font-family: OpenSans-Regular;
  font-size: 12pt;
}

.header {
  background-image: url(../img/football_767.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.background__logo {
  display: flex;
  justify-content: center;
  width: 35%;
}

.background__title {
  font-size: 8.75vw;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10%;
}

.background__title-right {
  align-self: flex-end;
  width: 75%;
  margin-bottom: 17vh;
}

.athlets {
  height: 1075px;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.athlets .athlets__title {
  padding-top: 25px;
}

.box {
  padding-left: 6.25vw;
  padding-right: 6.25vw;
}

.athlets__img {
  width: 56.2vw;
  display: flex;
  align-self: center;
  z-index: 1;
}

.athlets__497 {
  display: none;
}

.athlets__566 {
  display: none;
}

.players__img--768 {
  display: none;
}

.players__img--991 {
  display: none;
}

.find-contact__1024 {
  display: none;
}

.be-active__1024 {
  display: none;
}

.connection {
  background: #fafafa;
  margin-top: -3.5rem;
  z-index: -1;
}

.connection .connection__title {
  text-transform: uppercase;
  padding-top: 90px;
}

.connection .connection__about {
  padding-bottom: 45px;
}

.collaboration {
  background: #f5f4f9;
}

.collaboration .collaboration__title {
  padding-top: 60px;
  text-transform: uppercase;
}

.collaboration .collaboration__about {
  padding-bottom: 50px;
}

.growth {
  background: #5e42b0;
}

.growth .growth__title {
  padding-top: 60px;
  text-transform: uppercase;
}

.growth .growth__about {
  color: #fff;
}

.players {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.players .players__img {
  height: 250px;
  display: flex;
  align-self: center;
  z-index: 1;
}

.players .players__title {
  padding-top: 25px;
}

.be-active {
  display: flex;
  flex-direction: column;
}

.be-active .be-active__img {
  width: 100%;
}

.be-active .be-active__block {
  background-color: #5C3DB2;
  padding: 1.1rem 1.3rem;
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: #ffffff;
  color: #ffffff;
  margin-left: 1rem;
  margin-top: -2.5rem;
  width: max-content;
}

.be-active .be-active__title {
  text-transform: uppercase;
}

.footer {
  display: flex;
  flex-direction: column;
  background-image: url(../img/game_767.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  justify-content: space-between;
}

.top {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.top p {
  color: #8379a8;
}

.top .top__title {
  margin-top: 50px;
}

.top__logo {
  margin-top: 18vh;
  background-color: #5C3DB2;
  width: 36px;
  height: 36px;
  padding: 0.5rem;
  align-self: center;
  border-radius: 1rem;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.text h1 {
  margin: 0;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: 10vw;
}

.top__about {
  margin: 0;
  font-size: 4.375vw;
  color: #A495CC;
  text-transform: uppercase;
}

.bottom {
  display: flex;
  flex-direction: column;
}

.bottom__apple {
  display: flex;
  justify-content: center;
  background-color: #5C3DB2;
  border: none;
  border-radius: 2rem;
  color: #ffffff;
  align-self: center;
  margin-bottom: 0.5rem;
  width: 90%;
  padding: 0.5rem 0;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons__app {
  display: flex;
  justify-content: center;
  background-color: #5C3DB2;
  border: none;
  border-radius: 2rem;
  color: #ffffff;
  align-self: center;
  margin-bottom: 0.5rem;
  width: 87.5vw;
  padding: 0.2rem 0;
}

.buttons__app label {
  font-size: 8pt;
}

.buttons__img {
  margin-right: 0.5rem;
  width: 7.8125vw;
  height: 7.8125vw;
}

.bottom__icon {
  fill: #ffffff;
  align-self: center;
  width: 24%;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.be-active__768 {
  display: none;
}

.find-contact__768 {
  display: none;
}

.work-it__768 {
  display: none;
}

.work-it__1024 {
  display: none;
}

.row2 h3 {
  margin-top: 20px;
}

.find-contact__img {
  width: 100%;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf");
}
