body
  margin: 0
  padding: 0
  color: #fff
  font-family: OpenSans-Bold
  outline: none
  box-sizing: border-box

h1
  font-size: 40pt
  text-transform: uppercase

h3, h2
  text-transform: uppercase
  font-size: 36pt

h1, h2, h3, h4, h5, h5, h6
  color: #e7e7e7
  margin: 0
  padding: 0

a
  text-decoration: none
  color: #fff
p, h6
  font-family: OpenSans-Regular
  letter-spacing: 0.1em



.header
  background-image: url(../img/football_1920.jpg)
  background-size: cover
  background-repeat: no-repeat
  height: 960px
  position: relative


.background__logo
  display: flex
  justify-content: center
  padding-top: 45px

.background__title
  text-transform: uppercase
  font-family: OpenSans-Bold
  letter-spacing: 0.2em




.background__title-left
  position: absolute
  top: 385px
  left: 10%
  font-size: 85px


.background__title-right
  position: absolute
  top: 480px
  left: 34%
  font-size: 85px

.background__btn
  display: flex

  flex-basis: 200px


.connection
  display: block
  margin: 0
  height: 420px
  width: 100%
  background-color: #fff
  color: #000

  p
    color: #000
    font-family: OpenSans-Regular
    letter-spacing: 0.1em



.footballer
  position: absolute
  left: 10%


.connection__athlets
  padding-top: 117px
  padding-left: 1080px
  font-size: 80pt
  text-transform: uppercase
  margin: 0

.collaboration
  display: block
  background-color: #f6f4fa
  margin: 0
  height: 250px
  width: 100%
  color: #000
  p
    font-family: OpenSans-Regular
    letter-spacing: 0.1em

.growth
  background-color: #5e42b0
  height: 220px
  width: 100%
  p
    font-family: OpenSans-Regular
    letter-spacing: 0.1em

.connection__title
  padding-left: 1080px
  h3
    text-transform: uppercase
    font-size: 36pt



.section__container
  width: 715px
  margin: 0 100px 65px 1080px
  padding-top: 57px



.collaboration__title
  h3
    text-transform: uppercase
    font-size: 36pt


.growth__title
  h3
    text-transform: uppercase
    font-size: 36pt




.connection-two
  height: 450px
  display: block
  margin: 0
  width: 100%
  background-color: #fff
  color: #000
  h2
    font-size: 80pt
    text-transform: uppercase

.players__contain
  width: 750px
  margin: 0 988px 57px 190px
  padding-top: 116px

.collaboration-two
  height: 230px
  width: 100%
  background: #f5f6f7
  p
    color: #000000

.collaboration-two__contain
  width: 750px
  margin: 0 988px 57px 190px
  padding-top: 50px

.growth-two
  height: 200px
  width: 100%
  background-color: #0a0e34

.growth-two__contain
  width: 750px
  margin: 0 988px 0 190px
  padding-top: 50px


.players__img
  position: absolute
  margin-left: 810px
  margin-top: 30px

  //active

.active
  display: flex
  position: relative


.active__block
  display: block
  background-color: #fff
  width: 100%


.active__container
  position: relative
  left: 20%
  top: 30%
  width: 620px
  p
    letter-spacing: normal
    font-size: 20pt
    color: #000000

  h3
    font-size: 62pt

.active__img
  width: 960px

.main__btn
  display: flex
  height: 155px
  width: 165px
  background: #5e42b0
  position: absolute
  top: 217px
  left: 880px
  justify-content: center
  align-items: center
  p
   display:   block
   font-size: 19pt
   font-weight: bold

.active__block
  display: block
  background-color: #fff



//find-contact



.find-contact
  display: flex
  position: relative


.find-contact__block
  display: block
  background-color: #fff
  width: 960px


.find-contact__img
  display: block
  width: 960px

.find-contact__contaier
  position: relative
  left: 18%
  top: 30%
  width: 620px
  p
    letter-spacing: normal
    font-size: 20pt
    color: #000000

  h3
    font-size: 62pt

//work-it


.work-it
  display: flex
  position: relative


.work-it__block
  display: block
  background-color: #fff
  width: 100%


.work-it__container
  position: relative
  left: 20%
  top: 30%
  width: 620px
  p
    letter-spacing: normal
    font-size: 20pt
    color: #000000

  h3
    font-size: 62pt

.work-it__img
  width: 960px



/* footer */

footer
  background-image: url(../img/game_1920.jpg)
  background-size: cover
  background-repeat: no-repeat
  height: 960px
  position: relative
  line-height: 65px



.download
  display: flex
  height: 160px
  width: 900px
  top: 217px
  left: 30%
  position: relative
  text-align: center



.download__btn
  background-color: #553ba2
  width: 140px
  height: 140px
  border-radius: 40px
  justify-content: center
  align-items: center
  display: flex


.download__title
  font-size: 45pt
  position: absolute
  top: 20px
  left: 170px
  letter-spacing: 0.07em


.download__offer
  font-size: 15pt
  position: absolute
  left: 170px
  top: 100px
  text-transform: uppercase
  color: #a496ca




.apple
  display: block
  height: 77px
  width: 314px
  background-color: #5e42b0
  border-radius: 50px
  line-height: 44px
  font-size: 14px
  font-weight: bold
  color: white
  text-transform: uppercase
  position: absolute
  left: 30%
  top: 510px


.apple__img
    position: absolute
    left: 40px
    top: 14px
.apple__title
    position: absolute
    left: 100px
.apple p
  margin: 0
  font-family: OpenSans-Bold
  line-height: 0.2em



.google
  display: block
  height: 77px
  width: 314px
  background-color: #5e42b0
  border-radius: 50px
  line-height: 44px
  font-size: 14px
  font-weight: bold
  color: white
  text-transform: uppercase
  position: absolute
  left: 50%
  top: 510px

.google__img
  position: absolute
  left: 40px
  top: 14px

.google__title


  position: absolute
  left: 100px

.google p
  margin: 0
  font-family: OpenSans-Bold
  line-height: 0.2em




.footer__logo
  display: block
  padding-bottom: 45px
  position: absolute
  bottom: 60px
  left: 44%




.footballer__497
  display: none

.players__img-436
  display: none
.active__img-960
  display: none
.work-it__img-960
  display: none


.top
  top: 798px


@font-face

  font-family: "OpenSans-Bold"
  src : url("../fonts/OpenSans-Bold.ttf")

@font-face
  font-family: "OpenSans-Regular"
  src: url("../fonts/OpenSans-Regular.ttf")


@media screen and (max-width: 768px)
  .header
    background-image: url(../img/football_767.jpg)
    h1
      font-size: 60px
  .apple
    left: 20px
  .footballer
    .footballer__566
      display: none
  .footballer__497
     display: block
     margin-left: 100px
     position: absolute
     left: -360px
  .connection__athlets
    padding-left: 230px
  .connection__title
    padding-left: 230px
  .section__container
    margin: 0 100px 65px 230px
    width: 450px
  .main__btn
    display: none
  .players__contain, .collaboration-two__contain
    width: 430px
    margin: 0 988px 57px 40px
  .growth-two__contain
    width: 430px
    margin: 0 988px 57px 40px
    padding-top: 40px
  .players
    .players__img
      display: none
  .players__img-436
    display: block
    position: absolute
    left: 340px
  .active
     display: block
  .active__img
     display: none
  .active__img-960
    display: block
  .active__container
    left: 5%
  .find-contact
    display: flex
    flex-direction: column-reverse
  .find-contact__contaier
    left: 5%
  .work-it
    display: block
  .work-it__img
     display: none
  .work-it__img-960
    display: block
  .work-it__container
    left: 5%
  .download
    left: 4%
  .footer__logo
    left: 38%
  footer
   background-image: url(../img/game_1280.jpg)




  top: 0
  left: 0


